[viewBag]

[staticMenu]
code = "menu"
==
<!-- header -->
<header class="header-default">
    <nav class="navbar navbar-expand-lg">
        <div class="container-xl">
            <!-- site logo -->
            <a class="navbar-brand" href="index.html"><img src="{{'assets/images/logo.png'|theme}}"  alt="logo" /></a> 

            <div class="collapse navbar-collapse">
                <!-- menus -->
                {% component 'staticMenu' %}
            </div>

            <!-- header right section -->
            <div class="header-right">
                <ul class="social-icons list-unstyled list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                     
                    
                </ul>
                <div class="header-buttons">
                    <button class="search icon-button">
                        <i class="icon-magnifier"></i>
                    </button>
                     
                </div>
            </div>
        </div>
    </nav>
</header>